//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 18 11:52:36 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "sim_o_validate<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "sim_o_validate<1>" LOCATE = SITE "G14" LEVEL 1;
COMP "sim_o_validate<2>" LOCATE = SITE "F14" LEVEL 1;
COMP "sim_o_validate<3>" LOCATE = SITE "E13" LEVEL 1;
COMP "sim_o_display<0>" LOCATE = SITE "E14" LEVEL 1;
COMP "sim_o_display<1>" LOCATE = SITE "G13" LEVEL 1;
COMP "sim_o_display<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "sim_o_display<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "sim_o_display<4>" LOCATE = SITE "R16" LEVEL 1;
COMP "sim_o_display<5>" LOCATE = SITE "F13" LEVEL 1;
COMP "sim_o_display<6>" LOCATE = SITE "N16" LEVEL 1;
COMP "sim_o_led_co" LOCATE = SITE "D15" LEVEL 1;
COMP "sim_o_led_cr" LOCATE = SITE "E15" LEVEL 1;
COMP "sim_o_led_cv" LOCATE = SITE "D16" LEVEL 1;
COMP "i_presence" LOCATE = SITE "M13" LEVEL 1;
COMP "sim_o_led_ro" LOCATE = SITE "F15" LEVEL 1;
COMP "sim_o_led_rr" LOCATE = SITE "E16" LEVEL 1;
COMP "rst" LOCATE = SITE "L14" LEVEL 1;
COMP "sim_o_led_rv" LOCATE = SITE "G15" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

